* {
	margin: 0;
	padding: 0;
	
}
html {
	font-size: 62.5%;
}
body {
	width: 1020px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, serif;
	font-size: 1.5rem;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Bitter", Helvetica, Arial;
	font-size: 1em;
}
ul {
	list-style: none;
}
header, section, footer {
	width: 100%;
	padding: 0 40px;
}

header > ul {
	height: 46px;
	line-height: 46px;
	text-align: right;
	background-image: url("../images/tiles/debut_dark.png");
}

header > ul > li {
	display: inline-block;
	margin-right: 15px;
	color: #fff;	
}
header > nav {
	float: right;
	margin: 12px 0;
}
nav > ul > li {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	margin-right: 15px;
	font-size: 11px;
	font-weight: bold;
}
nav li a {
	text-decoration: none;
	color: #252525;
	text-transform: uppercase;
}
nav li a:hover, nav li a:active {
	color: #ea5a4b;
}
.logo {
	text-indent: -9999px;
	background: url("../images/assets/logo.png") no-repeat;
	width: 120px;
	height: 34px;
	margin: 12px 0;
	display: inline-block;
}
figure {
	position: relative;
}
figure > figcaption {
	position: absolute;
	top: 195px;
	left: 40px;
	color: #fff;
	font-size: 24px;
	font-family: "Bitter";
	max-width: 355px;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
}
.hero {
	padding: 0;
}
ul.featured {
	padding: 26px;
	background: url("../images/tiles/debut_dark.png");
}
ul.featured li {
	display: inline-block;
	margin-right: 14px;
}
.benefits {
	margin: 40px 0;
}
.benefits li {
	display: inline-block;
	width: 265px;
	margin-right: 40px;
	vertical-align: top;
	color: #5c5c5c;
	line-height: 16px;
}
.center{
	text-align: center;
}
footer.center {
	font-size: 18px;
}
footer.center span {
	color: #fff;
	background-color: #ea5a4b;
	padding: 8px;
}