/* line 7, ../sass/slides.scss */
#slideshow {
  width: 600px;
  height: 900px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* line 15, ../sass/slides.scss */
div.slidereel {
  position: absolute;
  width: 4200px;
}
/* line 20, ../sass/slides.scss */
div.slidereel figure {
  float: left;
  width: 600px;
  padding: 0;
  margin: 0;
  -webkit-animation: slideshow 35s linear 5s infinite;
  -moz-animation: slideshow 5s linear 5s infinite;
  -o-animation: slideshow 5s linear 5s infinite;
  animation: slideshow 5s linear 5s infinite;
}

@-webkit-keyframes slideshow {
  /* line 34, ../sass/slides.scss */
  0% {
    -webkit-transform: translateX(0px);
  }

  /* line 61, ../sass/slides.scss */
  100% {
    -webkit-transform: translateX(-3600px);
  }
}
